<header
	style="display: flex; align-items: center; justify-content: space-between; padding: 10px; background-color: #3f3f3f; font-family: 'Montserrat', sans-serif;">
	<div style="display: flex; flex-direction: column; align-items: center;">
		<a href="index.html">
			<img src="!icons\cupertino-logo-2019.webp" alt="CHS Logo" style="width: 150px; height: 188px;">
		</a>
	</div>
	<nav>
		<ul style="list-style: none; display: flex;">
			<li><a href="index.html"
					style="margin-right: 10px; padding: 10px 20px; border: none; background-color: #800000; color: #fff; text-decoration: none; box-shadow: 4px 4px 8px #888888; transition: box-shadow 0.3s ease-in-out; font-size: 1.2em;">Home</a>
			</li>
			<li>
				<div class="dropdown">
					<a href=""
						style="margin-right: 10px; padding: 10px 20px; border: none; background-color: #800000; color: #fff; text-decoration: none; box-shadow: 4px 4px 8px #888888; transition: box-shadow 0.3s ease-in-out; font-size: 1.2em; position: relative;">Resources
						<span class="arrow-down"></span></a>
					<div class="dropdown-content"
						style="background-color: #3f3f3f; padding: 20px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; position: absolute; top: 100%; left: 0;">
						<a href="https://drive.google.com/drive/folders/1NchLSDOA1XK5IT79dLCOVHAQpdHjGqMM?usp=sharing"
							target="_blank" rel="noopener noreferrer"
							style="color: #fff; font-size: 0.65em; background-color: #800000; box-shadow: 4px 4px 8px #888888; transition: box-shadow 0.3s ease-in-out; padding: 10px 20px; text-decoration: none; display:inline-block">Meeting
							Minutes</a>
						<a href="https://docs.google.com/spreadsheets/d/1ZbqncpVduHKFfY_CjeKJ7hvBtlic6p5-MmmvQ4UHWZA/edit#gid=0"
							target="_blank" rel="noopener noreferrer"
							style="color: #fff; font-size: 0.65em; background-color: #800000; box-shadow: 4px 4px 8px #888888; transition: box-shadow 0.3s ease-in-out; padding: 10px 20px; text-decoration: none; display:inline-block">Fund
							Tracker
						</a>
					</div>
				</div>
			</li>
			<li><a href="council.html"
					style="margin-right: 10px; padding: 10px 20px; border: none; background-color: #800000; color: #fff; text-decoration: none; box-shadow: 4px 4px 8px #888888; transition: box-shadow 0.3s ease-in-out; font-size: 1.2em;">Council</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	a:hover {
		box-shadow: 2px 2px 4px #888888;
	}
</style>